body{
    margin: 0px;
}
body{
   font-family: Arial;
}
.container{
margin: 0 auto;
width: 1280px;
padding: 0 50px 0 50px;
box-sizing: border-box;
}
p{
font-weight: 700;
font-size: 16px;
line-height: 24px;
margin-bottom: 10px;
}
h2{
    font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #445161;
display: inline;
}
.header-block{
    background-color: #445161;
    width: 100%;
    height: 323px;
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing: border-box;

}


.header-block-content{
    color: white;
}
.header-block-content-h1{

font-weight: 700;
font-size: 60px;
margin-bottom: 45px;
line-height: 69px;
padding: 0px;
display: inline;
}
.header-block-content-spisok-items{
font-weight: 400;
font-size: 20px;
line-height: 36px;
list-style-image: url(../img/check.png);
padding-left: 15px;

}

.header-block-content-img{
    background-color: white;
align-self: flex-start;
margin-top: 25px;



}
.content{
    padding: 50px 50px 50px 50px;
}
.about-product{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.about-product-h2{
    padding-bottom: 16px;

}
.about-product-video{
    background-color: #445161;
    margin-left: 70px;
}
.dignity-blok{
    display: flex;
    flex-wrap: wrap;


}
.dignityh2{
display: flex;
margin: 0 0 40px 0;
 justify-content: center;
}
.dignity-blok-det{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    width: 50%;
    padding: 0 10px 20px 0;
    box-sizing: border-box;



}
.dignity-blok-text{
    
    display: flex;
    justify-content: start;


}
.dignity-blok-text::before {
    content: url(../img/plusicon.png);
    padding-right: 0.5em;
    /* float: left; */
  }
  .screenshotsh2{
    display: flex;
    margin: 100px 0 40px 0;
    justify-content: center;

  }
  .screenshots-block{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .screenshots-block-cart{
      width: 564px;
      min-height: 151px;
      display: flex;
      margin-bottom: 16px;
  }
  .carth3{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 16px 0;
  }
  .cart-jpg{
      background-color: cornflowerblue;
  }
  .screenshots-block-cart-content{
      margin-left: 10px;

  }
  .cart-text{

    font-weight: 700;
font-size: 13px;
line-height: 24px;
  }
  .reviewsh2{
    display: flex;
    margin: 100px 0 40px 0;
    justify-content: center;
  }
  .reviews-block{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  .reviews-cart{

    width: 574px;
    min-height: 121px;
    display: flex;
    margin: 0 0 20px 0;
  }
  .reviews-cart-text{
      margin-left: 20px;
      padding: 10px;
      background-color: #EBEBEB;
      border-radius: 10px;
  }
  .reviews-cart-text-name{

    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #989898;
    margin: 16px 0 0 0;
  }
  .reviews-cart img{
border-radius: 50px;
background-color: #445161;

  }
