@import "_fonts";
$whidts: 1170px;
$white: #fff;

@mixin zagolovok-h1 {
    font: {
        family: raleway;
        size: 52px;
        weight: 800;
    }
    text-align: center;
    color: #fff;
    margin: 0;
}
@mixin zagolovok-h2 {
    font: {
        family: raleway;
        size: 36px;
        weight: 500;
    }
    text-align: center;
    color: #555;
    margin: 0;
}
@mixin zagolovok-h3 {
    font: {
        family: montserrat;
        size: 16px;
        weight: 300;
    }
    text-align: center;
    color: #8c8c8c;
    line-height: 1.75;
    margin: 0;
}
@mixin bodytext {
    font: {
        family: montserrat;
        size: 14px;
        weight: 300;
    }
    text-align: center;
    color: #8c8c8c;
    line-height: 1.57;
}
body {
    margin: 0;
}
.container {
    margin: 0 auto;
    width: $whidts;
}

.head {
    margin: 0;
    height: 100vh;
    width: 100%;
    padding: 40px 0 0 0;
    background-image: url(../img/bg-header.png);
    background-repeat: no-repeat;
    background-size: contain;

    &-menu {
        width: $whidts;
        height: 56px;
        display: flex;
        justify-content: space-between;

        &-logo {
            display: flex;
            height: 64px;
            align-items: center;
            text-decoration-line: none;
        }

        &-navbar {
            height: 64px;
            width: 637px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 0 219px;
        }
        &-navbar-items {
            @include bodytext;
            color: #fff;
            text-decoration: none;
        }
        &-magazin {
            width: 18px;
            height: 24px;
            padding: 0;
            background-color: transparent;
            border: 0;
            align-self: center;
            color: #fff;
        }
        &-search {
            width: 24px;
            height: 24px;
            padding: 0;
            border: none;
            background-image: url(../img/icon-serch.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            align-self: center;
        }
        &-formsearch {
            align-self: center;
        }
    }
}
.karusel {
    max-width: 1620px;
    margin: 285px auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-dots {
        width: 100%;
    }
    &-zagolovok {
        width: 590px;
    }
    &-zagolovok-h2 {
        @include zagolovok-h2;
        color: $white;
    }
    &-zagolovok-h1 {
        @include zagolovok-h1;
        color: $white;
        margin: 14px 0 19px 0;
    }
    &-zagolovok-text {
        @include zagolovok-h3;
        color: $white;
    }
    &-zagolovok-btn{
        display: block;
        width: 170px;
        // width: 170px;
        background-color: #998675;
        padding: 17px 38px;
        border-radius: 3px;
        color: $white;
        text-align: center;
        margin: 52px auto 0;
        box-sizing: border-box;
        
    }
}
.head-menu-logo-span {
    font-family: raleway;
    font-weight: 400;
    font-size: 34px;
    color: #fff;
    margin: 0 0 0 2px;
}
