@import "_fonts";
$whidts: 1230px;
$white: #fff;
$colortext:#555;

@mixin zagolovok-h1 {
    font: {
        family: raleway;
        size: 52px;
        weight: 800;
    }
    text-align: center;
    color: #fff;
    margin: 0;
}
@mixin zagolovok-h2 {
    font: {
        family: raleway;
        size: 36px;
        weight: 500;
    }
    text-align: center;
    color: $colortext;
    margin: 0;
}
@mixin zagolovok-cart {
    font: {
        family: raleway;
        size: 22px;
        weight: 600;
    }
    text-align: center;
    color: $colortext;
    margin: 0;
}
@mixin zagolovok-h3 {
    font: {
        family: montserrat;
        size: 16px;
        weight: 300;
    }
    text-align: center;
    color: #8c8c8c;
    line-height: 1.75;
    margin: 0;
}
@mixin zagolovok-h4 {
    font: {
        family: raleway;
        size: 28px;
        weight: 400;
    }
    color: $white;
    margin: 0;
}
@mixin bodytext {
    font: {
        family: montserrat;
        size: 14px;
        weight: 300;
    }
    text-align: center;
    color: #8c8c8c;
    line-height: 1.57;
}
@mixin btn {
    font-family: raleway;
    font-size: 14px;
    font-weight: 800;
    line-height: 1.64;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 170px;
    background-color: #998675;
    padding: 17px;
    border-radius: 3px;
    color: $white;
    text-align: center;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: inset 0px -3px 0 0 #736357;
    
}
@mixin btn-hover {
    
    background-color:  #736357;
    
}
@mixin btn-activ {
    
    background-color:   #998675;

    
}

body {
    margin: 0;
}
.container {
    margin: 0 auto;
    width: $whidts;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
}
.container-lite {
    width: 1230px;

}

.head {
    margin: 0;
    min-height: 100%;
    width: 100%;
    padding: 40px 0 0 0;
    background-image: url(../img/bg-header.png);
    background-size: cover;
    background-position: center;

    &-menu {
        min-height: 56px;
        display: flex;
        justify-content: space-between;

        &-logo {
            display: flex;
            height: 64px;
            align-items: center;
            text-decoration-line: none;
            fill: #fff;
            
            &-span {
                font-family: raleway;
                font-weight: 400;
                font-size: 34px;
                color: #fff;
                margin: 0 0 0 2px;
            }
        }
        

        &-navbar {
            height: 64px;
            width: 637px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 0 219px;
        }
        &-navbar-items {
            @include bodytext;
            color: #fff;
            text-decoration: none;
        }
        &-magazin {
            width: 18px;
            height: 24px;
            padding: 0;
            background-color: transparent;
            border: 0;
            align-self: center;
            fill: #fff;
        }
        &-search {
            width: 24px;
            height: 24px;
            padding: 0;
            border: none;
            background-image: url(../img/icon-serch.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-color: transparent;
            align-self: center;
        }
        &-search:focus {
            width: 150px;
            transition: width ls ease-out;

        }
        &-formsearch {
            align-self: center;
        }
    }
}
.karusel {
    max-width: 1620px;
    min-height: 590px;
    margin: 285px auto 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-arrow-l{
        margin: 120px 0 0 50px;
        opacity: 0.5;
        fill: #fff;
    }
    &-arrow-r{
        margin: 120px 50px 0 0;
        opacity: 0.5;
        fill: #fff;
    }
    &-zagolovok {
        width: 590px;
    }
    &-zagolovok-h2 {
        @include zagolovok-h2;
        color: $white;
    }
    &-zagolovok-h1 {
        @include zagolovok-h1;
        color: $white;
        margin: 14px 0 19px 0;
    }
    &-zagolovok-text {
        @include zagolovok-h3;
        color: $white;
    }
    &-zagolovok-btn{
        @include btn;
        margin: 52px auto 0 auto;
    }
    &-zagolovok-btn:hover{
        @include btn-hover();
    }
    &-zagolovok-btn:active{
        @include btn-activ();
    }

    &-dots{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0 0 40px 0;
        &-items{
            display: block;
            border-radius: 50%;
            width: 11px;
            height: 11px;
            margin: 0 9px;
            opacity: 0.5;
            background-color: #fff;
            transform: scale(1.2);
        }
        &-items:hover{
            background-color: transparent;
            border: solid 2px #d3c1ad;
            transform: scale(1.2);
        }
    }
}
.areas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &-cart{
        max-width: 270px;
        box-sizing: border-box;
        margin: 80px 0 80px 0;
        display: flex;
        flex-direction: column;
        &-descr-zagolovok{
            display: block;
            @include zagolovok-cart;
            margin: 29px 0 19px 0;


        }
        &-descr-opisanie{
            @include bodytext;
            margin: 0 0 30px 0;
        }
        &-svg {
            display: block;
            align-self: center;
            fill: $colortext;
            margin: 0 auto;
        }


    }
    &-cart::after{
        content: "";
        display: block;
        width: 150px;
        height: 3px;
        background-color: #f1eee9;
        margin: 0 auto;
    }
    &-cart:hover .areas-cart-svg{
        fill: #c7b299;
    }
    &-cart:hover .areas-cart-descr-zagolovok{
        color: #c7b299;
    }
    &-cart:hover::after {
        background-color: #c7b299;
    }

}
.idea{
    background-color: #fbfaf8;

    &-h2{
        @include zagolovok-h2;
        margin: 83px auto 24px auto;
    }
    &-h3{
        @include zagolovok-h3;
        max-width: 770px;
        margin: 0 auto;
    }
    &-img{
        min-height: 482px;
        background-image: url(../img/browser-center.png),
                            url(../img/browser-left.png),
                                url(../img/browser-right.png);
        background-position: center, left bottom,right bottom;
        background-repeat: no-repeat;
        margin: 40px auto 0 auto;
        
    }
}
.ad{
    min-height: 150px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #211b19, #4e3427);
    display: flex;
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-h4{
            @include zagolovok-h4;
            margin: 0 0 8px 0;
        }
        &-h4 span{
            color: $colortext;
        }
        &-txt{
            @include bodytext;
            text-align: start;
            margin: 0;
        }
        &-btn{
            @include btn;
        }
        &-btn:hover{
            @include btn-hover;
        }
        &-btn:active{
            @include btn-activ();
        }
    }
}
.project{
    &-h2{
        @include zagolovok-h2;
        margin: 81px auto 24px auto;

    }
    &-txt{
        @include zagolovok-h3;
        max-width: 770px;
        margin: 0 auto;

    }
    &-btnbar{
        display: flex;
        justify-content: center;
        margin: 40px auto;

        &-btn{
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 1.5;
            text-decoration: none;
            display: block;
            border: solid 1px #ebebeb;
            color: #8c8c8c;
            background-color: $white;
            padding: 7px 20px;
            text-align: center;
            box-sizing: border-box;
            border-radius: 3px;
            margin: 0 5px;
        }
        &-btn:hover{
            color: $white;
            border: solid 1px #998675;
            background-color: #998675;
        }

    }
    &-carts{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-cart{
            width: 370px;
            min-height: 337px;
            background-color: #fbfaf8;
            display: flex;
            flex-direction: column;
            margin-bottom: 30px;
            &-h4{
                font-family: Raleway;
                font-size: 20px;
                font-weight: 500;
                color: #c7b299;
                margin: 30px 0 14px 28px;
            }
            &-txt{
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.43;
                color: #d1d1d1;
                margin: 0 0 0 28px;
            } 
            &-box{
                position: relative;
            }
            &-box::before{
                content: "";
                border: 15px solid transparent;
                border-bottom: 10px solid #fbfaf8;
                position: absolute;
                top: -25px;
                left: 19px;
            }
        }
    }
    &-btn{
        @include btn;
        margin: 30px auto 80px auto;
    }
    &-btn:hover{
        @include btn-hover;
    }
    &-btn:active{
        @include btn-activ;
    }
}
.broject-btnbar{
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.video{
    height: 705px;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    &-items{
        width: 100%;
        object-fit: cover;
    }
    &-info{
        display: flex;
        flex-direction: column;     
        margin: 0 auto;
        justify-content: center;
        position: absolute;
        max-width: 560px;
        &-btn{
            height: 100px;
            width: 100px;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.2);
            border: none;
            margin: auto;
        }
        &-btn svg{
            fill: $white;
            margin: auto;     
        }
        &-h2{
            @include zagolovok-h2;
            color: $white;
            margin: 44px 0 28px 0;
        }
        &-txt{
            @include bodytext;
            color: $white;
        }
        &-time{
            display: block;
            @include bodytext;
            color: #c7b299;
            margin: 40px 0 0 0;
        }
    }


}
