@font-face {
  font-family: montserrat;
  src: url(/fonts/montserrat-thin.woff2) format("woff2"), url(/fonts/montserrat-thin.woff) format("woff"), url(/fonts/montserrat-thin.ttf) format("ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url(/fonts/montserrat-light.woff2) format("woff2"), url(/fonts/montserrat-light.woff) format("woff"), url(/fonts/montserrat-light.ttf) format("ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url(/fonts/montserrat-regular.woff2) format("woff2"), url(/fonts/montserrat-regular.woff) format("woff"), url(/fonts/montserrat-regular.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url(/fonts/raleway-bold.woff2) format("woff2"), url(/fonts/raleway-bold.woff) format("woff"), url(/fonts/raleway-bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url(/fonts/raleway-extrabold.woff2) format("woff2"), url(/fonts/raleway-extrabold.woff) format("woff"), url(/fonts/raleway-extrabold.ttf) format("ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url(/fonts/raleway-medium.woff2) format("woff2"), url(/fonts/raleway-medium.woff) format("woff"), url(/fonts/raleway-medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url(/fonts/raleway-regular.woff2) format("woff2"), url(/fonts/raleway-regular.woff) format("woff"), url(/fonts/raleway-regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url(/fonts/raleway-semibold.woff2) format("woff2"), url(/fonts/raleway-semibold.woff) format("woff"), url(/fonts/raleway-semibold.ttf) format("ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1230px;
  padding: 0 30px 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-lite {
  width: 1230px;
}

.head {
  margin: 0;
  min-height: 100%;
  width: 100%;
  padding: 40px 0 0 0;
  background-image: url(../img/bg-header.png);
  background-size: cover;
  background-position: center;
}

.head-menu {
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head-menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  fill: #fff;
}

.head-menu-logo-span {
  font-family: raleway;
  font-weight: 400;
  font-size: 34px;
  color: #fff;
  margin: 0 0 0 2px;
}

.head-menu-navbar {
  height: 64px;
  width: 637px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 219px;
}

.head-menu-navbar-items {
  font-family: montserrat;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #8c8c8c;
  line-height: 1.57;
  color: #fff;
  text-decoration: none;
}

.head-menu-magazin {
  width: 18px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: #fff;
}

.head-menu-search {
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-image: url(../img/icon-serch.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.head-menu-search:focus {
  width: 150px;
  -webkit-transition: width ls ease-out;
  transition: width ls ease-out;
}

.head-menu-formsearch {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.karusel {
  max-width: 1620px;
  min-height: 590px;
  margin: 285px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.karusel-arrow-l {
  margin: 120px 0 0 50px;
  opacity: 0.5;
  fill: #fff;
}

.karusel-arrow-r {
  margin: 120px 50px 0 0;
  opacity: 0.5;
  fill: #fff;
}

.karusel-zagolovok {
  width: 590px;
}

.karusel-zagolovok-h2 {
  font-family: raleway;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #555;
  margin: 0;
  color: #fff;
}

.karusel-zagolovok-h1 {
  font-family: raleway;
  font-size: 52px;
  font-weight: 800;
  text-align: center;
  color: #fff;
  margin: 0;
  color: #fff;
  margin: 14px 0 19px 0;
}

.karusel-zagolovok-text {
  font-family: montserrat;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #8c8c8c;
  line-height: 1.75;
  margin: 0;
  color: #fff;
}

.karusel-zagolovok-btn {
  font-family: raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 170px;
  background-color: #998675;
  padding: 17px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
  margin: 52px auto 0 auto;
}

.karusel-zagolovok-btn:hover {
  background-color: #736357;
}

.karusel-zagolovok-btn:active {
  background-color: #998675;
}

.karusel-dots {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 0 40px 0;
}

.karusel-dots-items {
  display: block;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  margin: 0 9px;
  opacity: 0.5;
  background-color: #fff;
}

.karusel-dots-items:hover {
  background-color: transparent;
  border: solid 2px #d3c1ad;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.areas-cart {
  max-width: 270px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 80px 0 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.areas-cart-descr-zagolovok {
  display: block;
  font-family: raleway;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #555;
  margin: 0;
  margin: 29px 0 19px 0;
}

.areas-cart-descr-opisanie {
  font-family: montserrat;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #8c8c8c;
  line-height: 1.57;
  margin: 0 0 30px 0;
}

.areas-cart-svg {
  display: block;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: #555;
  margin: 0 auto;
}

.areas-cart::after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #f1eee9;
  margin: 0 auto;
}

.areas-cart:hover .areas-cart-svg {
  fill: #c7b299;
}

.areas-cart:hover .areas-cart-descr-zagolovok {
  color: #c7b299;
}

.areas-cart:hover::after {
  background-color: #c7b299;
}

.idea {
  background-color: #fbfaf8;
}

.idea-h2 {
  font-family: raleway;
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  color: #555;
  margin: 0;
  margin: 83px auto 24px auto;
}

.idea-h3 {
  font-family: montserrat;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #8c8c8c;
  line-height: 1.75;
  margin: 0;
  max-width: 770px;
  margin: 0 auto;
}

.idea-img {
  min-height: 482px;
  background-image: url(../img/browser-center.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 40px auto 0 auto;
}

.ad {
  min-height: 150px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(to top, #211b19, #4e3427);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ad-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ad-content-h4 {
  font-family: raleway;
  font-size: 28px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  margin: 0 0 8px 0;
}

.ad-content-h4 span {
  color: #555;
}

.ad-content-txt {
  font-family: montserrat;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #8c8c8c;
  line-height: 1.57;
  text-align: start;
  margin: 0;
}

.ad-content-btn {
  font-family: raleway;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.64;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 170px;
  background-color: #998675;
  padding: 17px;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px -3px 0 0 #736357;
          box-shadow: inset 0px -3px 0 0 #736357;
}

.ad-content-btn:hover {
  background-color: #736357;
}

.ad-content-btn:active {
  background-color: #998675;
}
/*# sourceMappingURL=style.css.map */