@font-face {
  font-family: "montserrat";
  src: url(/fonts/montserrat-thin.woff2) format("woff2"), url(/fonts/montserrat-thin.woff) format("woff"), url(/fonts/montserrat-thin.ttf) format("ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url(/fonts/montserrat-light.woff2) format("woff2"), url(/fonts/montserrat-light.woff) format("woff"), url(/fonts/montserrat-light.ttf) format("ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url(/fonts/montserrat-regular.woff2) format("woff2"), url(/fonts/montserrat-regular.woff) format("woff"), url(/fonts/montserrat-regular.ttf) format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url(/fonts/raleway-bold.woff2) format("woff2"), url(/fonts/raleway-bold.woff) format("woff"), url(/fonts/raleway-bold.ttf) format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url(/fonts/raleway-extrabold.woff2) format("woff2"), url(/fonts/raleway-extrabold.woff) format("woff"), url(/fonts/raleway-extrabold.ttf) format("ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url(/fonts/raleway-medium.woff2) format("woff2"), url(/fonts/raleway-medium.woff) format("woff"), url(/fonts/raleway-medium.ttf) format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url(/fonts/raleway-regular.woff2) format("woff2"), url(/fonts/raleway-regular.woff) format("woff"), url(/fonts/raleway-regular.ttf) format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "raleway";
  src: url(/fonts/raleway-semibold.woff2) format("woff2"), url(/fonts/raleway-semibold.woff) format("woff"), url(/fonts/raleway-semibold.ttf) format("ttf");
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.head {
  margin: 0;
  height: 100vh;
  width: 100%;
  padding: 40px 0 0 0;
  background-image: url(../img/bg-header.png);
  background-repeat: no-repeat;
}

.head-menu {
  width: 1170px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head-menu-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-menu-navbar {
  height: 64px;
  width: 637px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 0 219px;
}

.head-menu-navbar-items {
  font-family: montserrat;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: #8c8c8c;
  line-height: 1.57;
  color: #fff;
  text-decoration: none;
}

.head-menu-magazin {
  width: 18px;
  height: 24px;
  background-color: transparent;
  border: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.head-menu-logo-span {
  font-family: raleway;
  font-weight: 400;
  font-size: 34px;
  color: #fff;
  margin: 0 0 0 2px;
}
/*# sourceMappingURL=style.css.map */