.text-menu {
    font-family: sourcesanspro;
    font-weight: 400;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.text-h1 {
    font-family: montserrat;
    font-weight: 900;
    font-size: 104px;
    color: white;
    text-decoration: none;
}

.text-h2 {
    font-family: robotoslab;
    font-weight: 900;
    font-size: 36px;
    color: white;
    text-decoration: none;
}

.text-h3 {
    font-family: robotoslab;
    font-weight: 900;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.header {
    min-height: 650px;
    background-image: url(../img/img-baykal-head2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    background-image: url(../img/ico-2baikal.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    min-height: 115px;
}

.text {
    font-family: sourcesanspro;
    font-weight: 700;
    font-size: 26px;
}